.existing-tweets {
  width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid white;
  padding: 8px;
  font-family: Bungee;
  border-radius: 25px;
  border-bottom-width: 1px;
  word-wrap: break-word;
  word-break: break-all;
  margin-top: 1.5em;
}

.existing-tweets-container {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.existing-tweets-header  {
  display: block;
  padding: 0.5em 0;

}


.user-name {
  display: inline-block;
  margin: 0 0.5rem;
}

.user-handle {
  display: inline-block;
  margin: 0 0.5rem;
  position: absolute; right: 0.5rem;

}

.existing-tweets-body {
  display: block;
  text-align: center;
  padding: 0.5em 0;
  border-bottom: 1px solid #f373d7;
}

.existing-tweets-footer {
  display: block;
}

.tweet-icons {

  display: inline-block;
  position: absolute; right: 0.5rem;
  margin: 0 0.5rem;
  color: #f373d7;
  -webkit-text-stroke: 0.5px white;
  padding: 5px;

}

.existing-tweets:hover {
  box-shadow: 8px 8px #ee89d8;
}

#icon1:hover{
  color: rgb(236, 64, 64);
}

#icon2:hover{
  color: rgb(115, 115, 224);
}

  #icon3:hover{
   color: rgb(235, 18, 119);
  }