.existing-tweets {
  border: 2px dotted white;
  padding: 8px;
  margin-top: 30px;  
}


.existing-tweets-header  {
  display: block;
  padding: 0 0.5em;


}

.existing-tweets-footer {
  display: block;
  
}