.existing-tweets {
  height: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px dotted #cc8cbe;
  padding: 8px;
  margin-top: 30px;  
}


.existing-tweets-header  {
  display: block;
  padding: 0.5 0;

}

#existing-tweets-body {
  display: block;
  height: 80px;
  padding: 0.5em 0;
  border-bottom: 1px dotted white;
}

.existing-tweets-footer {
  display: block;
  
}

.tweet-icons {
  /* display: flex;
  flex-direction: row-reverse; */
  display: inline-block;
  position: absolute; right: 0.5rem;
  margin: 0 0.5rem;
  color: #f373d7;
  -webkit-text-stroke: 0.5px white;
  padding: 5px;

}

.existing-tweets:hover {
  box-shadow: 8px 8px #ee89d8;
}

#icon1:hover{
  color: rgb(236, 64, 64);
}

#icon2:hover{
  color: rgb(115, 115, 224);
}

  #icon3:hover{
   color: rgb(235, 18, 119);
  }