header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9ecabc;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-grunge.png");


  

}

.name-text {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}