#main-header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cc8cbe;
  background-image: url("http://www.transparenttextures.com/patterns/bright-squares.png");
  margin-top: 60px;
} 
.name-text {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

