#main-header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cc8cbe;
  /* background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/psychedelic.png"); */
  /* background-image: url("http://www.transparenttextures.com/patterns/grunge-wall.png"); */
  background-image: url("http://www.transparenttextures.com/patterns/bright-squares.png");
} 
.name-text {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

