  nav {
    background-color: #fab47b ;
    padding-left: 1.5em;
    padding: 0.5em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Source-Sans-Pro, Sans-Serif;
    z-index: 1;
    position:fixed;
    top: 0;
    width: 100%;
  }

    /* tweeter logo */
   #logo {
    font-family: Bungee, Sans-Serif;
    font-size: 2em;
    color: white;


  }

  .nav-left {
    display: flex;
    align-items: flex-end;
  }
  .nav-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #create-tweet {
    font-family: Bungee;
    padding: 0;
    border: none; 
    color: white;
    background:  transparent;
    
  }

  #create-tweet:hover {
    border-radius: 30px;
    box-shadow: 1px 1px #ee89d8;
    padding: 0.2em;
  }
  
  .arrow {
  color: #f373d7;

  }