/* entire tweet section */
.new-tweet {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
  color: #ffffff;
  align-self: center;
}

/* tweet input text box */
#tweet-box {
  width: 100%;
  resize: none;
  background-color: #ecc7e4;
  color: white;
  text-align: center;
  border-radius: 25px;
  border-bottom-width: 1px;
  height: 80px;
  padding: 10px;
  font-family: Bungee;
}

/* "compose tweet" */
/* .compose-hum { */
  /* display: center; */
  /* display: flex;
  flex-direction: column;
  color: #ec68db;
  -webkit-text-stroke: 0.5px #ee89d8;
  text-align: center;
  align-self: center;
  font-family: Bungee;
} */

/* "what are you humming about?" */
.humming {
  color: white;
  text-align: center;
  align-self: center;
  font-family: Bungee;
}

/* character count */
.charcount-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Bungee, sans-serif;
  color: white;
  padding-right: 10px;
  font-size: 100%;
  margin-top: 1em;
}

/* tweet button */
.tweet-button {
  font-weight: bold;
  background-color: #f373f7;
  color: #ffffff;
  border-radius: 8px;
  padding: 1.5 px;
}

.alert {
  display: inline-block;
  font-family: Bungee;
  margin: 0 0.5rem;
  color: #ec68db;
}

.hide-tweet {
  display: none;
}
