.new-tweet {
  color: #ffffff;
  width: 100%;
  }

  #tweet-text {
    width: 100%;
    outline: none;
    resize: none;
    white-space: nowrap;
    background-color: #F4F1EC;
    border: 0;
    border-color: #9ECABC;
    border-radius: 25px;
    border-bottom-width: 1px;
    padding-bottom: 0px;
    padding-top: 5px;
    margin-bottom: 10px;
  }

  .button-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Bungee, sans-serif;
    color: #63B1CF;
    padding-right: 10px;
  }

  .tweet-button {
    background-color: #63B1CF;
    color: #FFFFFF;
    border: 0;
    padding: 4px 10px 4px 10px;
  } 
