/* entire tweet section */
.new-tweet {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
  color: #ffffff;
  align-self: center;
}

/* tweet input text box */
#tweet-box {
  width: 100%;
  resize: none;
  background-color: #ecc7e4;
  color: white;
  text-align: center;
  border-radius: 25px;
  border-bottom-width: 1px;
  height: 100px;
  padding: 10px;
  font-size: 150%;
  font-weight: bolder;
}

/* "what are you humming about?" */
.humming {
  font-size: 140%;
  color: white;
  text-align: center;
  align-self: center;
}

/* character count */
.charcount-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Bungee, sans-serif;
  color: white;
  padding-right: 10px;
  font-size: 140%;
  margin-top: 1em;
}

/* tweet button */
.tweet-button {
  font-size: x-large;
  background-color: #f373f7;
  color: #ffffff;
  border-radius: 15px;
  padding: 3px;
  cursor: pointer;
}

.alert {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1em;
  border: dotted ;
  border-radius: 25px;
  padding: 0.5em;
  font-size: 125%;
  color: rgb(102, 255, 0);
}

.hide-tweet {
  display: none;
}
